@model TomBooks.Models.Book

<form asp-action="GetBookByISBN">

    <div class="row .col-auto col-md-12 col-sm-10">

        <div class="col-5">

            <div class="input-group">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" id="txtPesquisar" name="isbn" placeholder="ISBN">
            </div>

        </div>

        <div class="col-1" style="margin-left:15px">
            <button type="submit" class="btn btn-secondary mb-2">Pesquisar</button>
        </div>

    </div>

</form>

<div>

    <partial name="~/Views/Book/PartialViews/_CardBook.cshtml" />

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_BookScripts");
    }   
}